.MenuToggle{
  position: fixed;
  top: 40px;
  left: 40px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  z-index: 100;
  transition: all .3s;

  &:hover{
    opacity: .7;
  }
}

.open{
  left: 210px;
}